.idea/
lab1/data/
/lab2/dante_train.txt
/lab2/input.txt
/lab2/more.txt
/lab2/results/dante_v0/dante_v0.pth
/lab2/results/dante_v2/dante_v2.pth
/lab2/results/dante_v5/dante_v5.pth
/lab2/results/dante_v7/dante_v7.pth
/lab2/results/dante_v7/dante_v7.txt
/lab2/results/dante_default_big_lr/dante_default_big_lr.pth
/lab2/results/dante_default/dante_default.txt
/lab2/results/dante_default/dante_default.pth
/lab1/model/cnn-ep5-lr0.001-bs512-depth5.pt
/lab1/model/resnet_cnn-ep5-lr0.001-bs512-depth5-residual.pt
/lab3/presentation/Presentazione_Laboratorio_FOML.pdf
/lab2/ag_news_data/train_features.npy
/lab2/ag_news_data/train_labels.npy
/lab2/ag_news_data/val_features.npy
/lab2/ag_news_data/val_labels.npy
/lab1/model/deep_cnns_work_worst/cnn-ep30-lr0.004-bs256-depth10-not-residual.pt
/lab1/model/deep_cnns_work_worst/cnn-ep30-lr0.004-bs512-depth5-not-residual.pt
/lab1/model/deep_cnns_work_worst/cnn-ep30-lr0.004-bs1024-depth1-not-residual.pt
/lab1/model/deep_cnns_work_worst/cnn-ep30-lr0.004-bs1024-depth1-residual.pt
/lab1/model/mlp/mlp-layers[128-64-10]-ep20-lr0.001-bs4096.pt
/lab1/model/mlp/mlp-layers[128-64-10]-ep30-lr0.0001-bs2048.pt
/lab1/model/resnet_to_convergence/cnn-ep5-lr0.004-bs64-depth25-residual.pt
